.cartography-button {
    border-radius: 50%;   
    &.dark {
        background-color: $main-color-dark;
        & > svg { color: $main-color-light; }
    }
    &.light {
        background-color: $main-color-light;
        & > svg { color: $main-color-dark; }
    }
}

.cartography-help-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;

    &.dark {
        & > .help {
            background-color: $main-color-dark;
            & > svg { color: $main-color-light; }
        }
        & > .loader-container {
            & > .loader {
                border: 1.4rem solid $main-color-dark;
                border-color: $main-color-dark transparent $main-color-dark transparent;
            }
        }
    }

    &.light {
        & > .help {
            background-color: $main-color-light;
            & > svg { color: $main-color-dark; }
        }
        & > .loader-container {
            & > .loader {
                border: 1.4rem solid $main-color-light;
                border-color: $main-color-light transparent $main-color-light transparent;
            }
        }
    }
}

.cartography-center {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;

    & > svg {
        color: $main-color-dark;
    }
}

.cartography-enlarge {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;

    border-radius: 0 $border-radius 0 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%);

    cursor: pointer;
    transition: background-color .1s ease-in-out, transform .1s ease-in-out;
    transform: scale(1, 1);

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.cartography-basemap {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    padding: .4rem;
    border-radius: $border-radius;

    background-color: $main-color-light;
    color: $main-color-dark;

    cursor: pointer;
    user-select: none;
    
    transform: scale(1, 1);
    transition: all .1s ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &.collapse {
        transform: scale(0, 0);
    }

    &.dark {
        background-color: $main-color-dark;
        color: $main-color-light;
    }
    &.light {
        background-color: $main-color-light;
        color: $main-color-dark;
    }
}

.cartography-mask {
    justify-content: start;
    align-items: start;
}

.cartography-loader {
    margin: 1rem;
}