.cartography-button {
    border-radius: 50%;   
    &.dark {
        background-color: $main-color-dark;
        & > svg { color: $main-color-light; }
    }
    &.light {
        background-color: $main-color-light;
        & > svg { color: $main-color-dark; }
    }
}

.cartography-center {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;

    & > svg {
        color: $main-color-dark;
    }
}

.cartography-enlarge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.cartography-basemap {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    padding: .4rem;
    border-radius: $border-radius;

    background-color: $main-color-light;
    color: $main-color-dark;

    cursor: pointer;
    user-select: none;
    
    transform: scale(1, 1);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &.collapse {
        transform: scale(0, 0);
    }

    &.dark {
        background-color: $main-color-dark;
        color: $main-color-light;
    }
    &.light {
        background-color: $main-color-light;
        color: $main-color-dark;
    }
}

.cartography-mask {
    justify-content: start;
    align-items: start;
}

.cartography-loader {
    margin: 1rem;
}