.cartography-button {
    & > svg {
        color: $main-color-extradark;
    }
}

.cartography-center {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.cartography-enlarge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.cartography-mask {
    justify-content: start;
    align-items: start;
}

.cartography-loader {
    margin: 1rem;
}