.help-container {
    height: 2rem;
    width: 2rem;
}

.help {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 50%;
}

.loader-container {
    width: 2rem;
    height: 2rem;
    transform: scale(1, 1);
    transition: all .5s ease-in-out;
    &.loaded {
        transform: scale(0, 0);
    }
}

.loader {
    position: absolute;
    top: -.4rem;
    left: -.4rem;
    z-index: 1;

    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1.4rem solid $main-color-light;
    border-color: $main-color-light transparent $main-color-light transparent;
    animation: rotationcw 1.2s linear infinite;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    opacity: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    transition: opacity .2s ease-in-out;

    &.loaded {
        opacity: 0;
        pointer-events: none;
    }
}

.image {
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    
    transition: all .1s linear;
}

.button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    cursor: pointer;
    
    transform: scale(1, 1);
    transition: transform .1s ease-in-out, background-color .2s ease-in-out;

    background-color: $main-color-light;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &.collapse {
        transform: scale(0, 0);
    }

    & > svg {
        transition: color .1s ease-in-out;
        color: $main-color-dark;
        height: 2rem;
        width: 2rem;
    }

    &.active {
        transform: scale(1.1, 1.1);
        background-color: $main-color-dark;
        & > svg {
            color: $main-color-light;
        }
    }

    &.dark {
        background-color: $main-color-dark;
        & > svg { color: $main-color-light; }
    }
    &.light {
        background-color: $main-color-light;
        & > svg { color: $main-color-dark; }
    }
}