.loader {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: .4rem solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: rotationcw 1.2s linear infinite;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    opacity: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    transition: opacity .2s;
    &.loaded {
        opacity: 0;
        pointer-events: none;
    }
}

.image {
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    
    transition: all .1s linear;
}

.button {
    height: 2rem;
    width: 2rem;

    cursor: pointer;
    
    transform: scale(1, 1);
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &.collapse {
        transform: scale(0, 0);
    }

    & > svg {
        transition: color .2s ease-in-out;
        color: $main-color-light;
        height: 2rem;
        width: 2rem;
    }

    &.active {
        transform: scale(1.1, 1.1);
        & > svg {
            color: $main-color-extradark;
        }
    }
}