#header {
    height: 11rem;
    background-color: $main-color-light;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    // &:hover {
    //     height: 11rem;
    // }
}

.header-logo {
    height: 8rem;
    color: $main-color-dark;
    user-select: none;
    width: 100%;

    & > svg {
        height: inherit;
        width: inherit;
    }
}

.header-foldable {
    height: 3rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 2rem;
    margin-left: 1rem;

    opacity: 1;
    transition: opacity .2s ease-in-out;

    &.hidden {
        opacity: 0;
    }
}

.header-update {
    font-size: .8rem;
    font-style: italic;
    line-height: 1rem;
    color: $main-color-dark;
}

.header-languages-container {
    height: 3rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-language {
    position: relative;

    &:hover {
        & > .header-language-tooltip {
            transform: scale(1, 1) translate(-50%);
        }
        & > .header-language-flag {
            outline-width: .3rem;
        }
    }
}

.header-language-tooltip {
    position: absolute;
    top: -2rem;
    left: 50%;
    padding: .2rem .3rem;

    background-color: $main-color-dark;
    color: $main-color-light;
    border-radius: $border-radius;

    font-size: .8rem;
    transform: scale(0, 0) translate(-50%);
    transform-origin: 0 50%;
    transition: transform .1s ease-in-out;
}

.header-language-flag {
    height: 1.6rem;

    outline-color: $main-color-extralight;
    outline-style: solid;
    outline-width: 0;
    
    border-radius: $border-radius;
    background-color: $main-color-extralight;

    transition: all .1s ease-in-out;
    cursor: pointer;
    overflow: hidden;

    &.active {
        outline-width: .3rem;
    }

    & > svg {
        height: 1.6rem;
        width: inherit;
    }
}