

#header-logo {
    margin: auto 20px;

    font-family: 'Polsyh';
    font-size: 64px;
    color: $interface-foreground;

    user-select: none;
}

.header-module {
    display: flex;
    height: 100%;
    margin: 0 50px;
}