///////////////////////////////////////////////////////
/// INFORMATION

.information-mask {
    background-color: $main-color-dark;
}

/// ///////////////////////////////////////////////////////
/// Description

.description-container {
    flex: 1;
    background-color: $interface-background;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.description-content {
    margin: $text-margin;
    opacity: 1;
    transition: all .2s ease-in-out;
    &.hidden {
        opacity: 0;
    }
}

.description-links {
    position: absolute;
    margin: .5rem;
    top: 0;
    right: 2.5rem;
    z-index: 10;

    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

.description-links-mask {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: $main-color-extradark;

    width: 8rem;
    height: 3rem;
    border-bottom-left-radius: 1.5rem;
}

.description-title {
    font-weight: bold;
    font-size: 1.6rem;
    max-width: calc(100% - 8rem);
    &:first-letter {
        text-transform: uppercase;
    }
}

.description-link {
    cursor: pointer;
    & > svg {
        height: 2rem;
        width: 2rem;
    }
}

.description-scientific {
    font-style: italic;
    font-size: 1.2rem;
}

.description-vernacular {
    margin-top: 1rem;
    font-weight: bold;
}

.description-vernaculars {
    &:first-letter {
        text-transform: uppercase;
    }
}

.description-summary {
    margin-top: 1rem;
}

///////////////////////////////////////////////////////
/// Search

$search-height: 3rem;

.search-button {
    position: absolute;
    right: 0;
    z-index: 10;

    height: 2rem;
    width: 2rem;
    margin: .5rem;
    border-radius: 2rem;
    background-color: $interface-foreground;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(1, 1);
    transition: all .2s ease-in-out;
    
    & > svg {
        color: $main-color-extradark;
        height: 1rem;
        width: 1rem;
        transition: all .2s ease-in-out;
    }

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &.active {
        background-color: $main-color-extradark;
        transform: scale(1.1, 1.1);
        & > svg {
            color: $main-color-extralight;
        }
    }
}

.search-container {
    flex: 0;
    background-color: $interface-foreground;
    height: $search-height;

    transition: height .2s ease-in-out;

    &.collapse {
        height: 0;
    }
}

.search-input {
    margin: .5rem 1rem;
    height: 2rem;
    line-height: 2rem;
    cursor: text;
    color: black;

    pointer-events: none;
    user-select: none;

    &:focus-visible, &:hover {
        outline: none;
    }

    &.active {
        pointer-events: all;
        user-select: all;
    }
}

.search-result-container {
    display: flex;
    flex-direction: column;

    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.search-result-group {
    transition: transform .1s ease-in-out;

    &.collapse {
        transform: scale(0, 0);
    }
}

.search-result-level {
    padding: .5rem .5rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.search-result {
    position: relative;
    height: 5rem;
    cursor: pointer;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
    overflow: hidden;

    transition: all .1s linear;

    &:first-child {
        > .search-image-container {
            border-top-right-radius: 4px;
        }
    }
    &:hover {
        > .search-label {
            transform: scale(1.1, 1.1);
        }
    }
}

.search-image-container {
    position: relative;
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
    overflow: hidden;
    pointer-events: none;

    &::before {
        opacity: 0;
    }
    &.loading::before {
        content: '';
    }
}

.search-label {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 5px;
    pointer-events: none;

    transform-origin: 0%;
    transition: all .2s ease-in-out;
}

.search-loader {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border: .3rem solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: rotationcw 1.2s linear infinite;
}