@import '_elements.scss';
@import '_header.scss';
@import '_lookup.scss';
@import '_map.scss';
@import '_panels.scss';
@import '_photo.scss';

@import '_taxonomy.scss';
@import '_information.scss';
@import '_cartography.scss';
@import '_photography.scss';
@import '_footer.scss';

html, body {
    margin: 0;
}

#application {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    gap: $interface-margin;
}

#application-mask {
    background-color: $interface-background;
    z-index: 200;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: $interface-margin;
}

#first-panel {
    flex: 2;
    margin: $interface-margin 0 $interface-margin $interface-margin;
}

#second-panel {
    flex: 3;
    margin: $interface-margin 0;
}

#third-panel {
    flex: 2;
    margin: $interface-margin $interface-margin $interface-margin 0;
}

.sub-panel {
    position: relative;
    flex: 1;

    border-radius: $border-radius;
    overflow: auto;

    transition: all .2s ease-in-out;
}

#header {
    height: 6rem;

    background-color: $interface-background;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: unset;
}

#taxonomy {
    background-color: $interface-background;
}

#information {
    font-family: 'Cantarell';
    color: $interface-foreground;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#footer {
    background-color: $interface-background;
}

#photography {
    display: flex;
}

#cartography {
}














#content-container {
    height: 100%;
    display: flex;
}

.click-mask {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stateofmatter {
    background-color: $stateofmatter;
    outline-color: $stateofmatter;
}
.kingdom { 
    background-color: $kingdom;
    outline-color: $kingdom;
}
.phylum { 
    background-color: $phylum;
    outline-color: $phylum;
}
.subphylum { 
    background-color: $subphylum; 
    outline-color: $subphylum;
}
.superclass { 
    background-color: $superclass; 
    outline-color: $superclass;
}
.class { 
    background-color: $class; 
    outline-color: $class;
}
.subclass { 
    background-color: $subclass; 
    outline-color: $subclass;
}
.infraclass { 
    background-color: $infraclass; 
    outline-color: $infraclass;
}
.subterclass { 
    background-color: $subterclass; 
    outline-color: $subterclass;
}
.superorder { 
    background-color: $superorder; 
    outline-color: $superorder;
}
.order { 
    background-color: $order; 
    outline-color: $order;
}
.suborder { 
    background-color: $suborder; 
    outline-color: $suborder;
}
.infraorder { 
    background-color: $infraorder; 
    outline-color: $infraorder;
}
.parvorder { 
    background-color: $parvorder; 
    outline-color: $parvorder;
}
.zoosection { 
    background-color: $zoosection; 
    outline-color: $zoosection;
}
.zoosubsection { 
    background-color: $zoosubsection; 
    outline-color: $zoosubsection;
}
.superfamily { 
    background-color: $superfamily; 
    outline-color: $superfamily;
}
.epifamily { 
    background-color: $epifamily;
    outline-color: $epifamily;
 }
.family { 
    background-color: $family; 
    outline-color: $family;
}
.subfamily { 
    background-color: $subfamily; 
    outline-color: $subfamily;
}
.supertribe { 
    background-color: $supertribe; 
    outline-color: $supertribe;
}
.tribe { 
    background-color: $tribe; 
    outline-color: $tribe;
}
.subtribe { 
    background-color: $subtribe; 
    outline-color: $subtribe;
}
.genus { 
    background-color: $genus; 
    outline-color: $genus;
}
.genushybrid { 
    background-color: $genushybrid; 
    outline-color: $genushybrid;
}
.subgenus { 
    background-color: $subgenus; 
    outline-color: $subgenus;
}
.section { 
    background-color: $section; 
    outline-color: $section;
}
.subsection { 
    background-color: $subsection; 
    outline-color: $subsection;
}
.complex { 
    background-color: $complex; 
    outline-color: $complex;
}
.species { 
    background-color: $species; 
    outline-color: $species;
}
.hybrid { 
    background-color: $hybrid; 
    outline-color: $hybrid;
}
.subspecies { 
    background-color: $subspecies; 
    outline-color: $subspecies;
}
.infrahybrid { 
    background-color: $infrahybrid; 
    outline-color: $infrahybrid;
}
.variety { 
    background-color: $variety;
    outline-color: $variety;
}
.form { 
    background-color: $form; 
    outline-color: $form;
}