.loader {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-symbol {
        height: 200px;
        width: 200px;
    
        .loader-vector {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            animation: rotationccw 6s infinite linear;
            height: 100%;
            width: 100%;
            path {
                fill: $main-color-dark;
            }
        }

        .loader-vector::after {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            content: '';
            width: 40px;
            height: 40px;
            border: solid transparent 10px;
            border-top-color: $main-color-dark;
            border-bottom-color: $main-color-dark;
            border-radius: 50%;
            transform: scale(1, 1);
            transform-origin: center center;
            animation: rotationcw 1s infinite ease-in-out;
        }
    }
}