#lookup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lookup {
    height: 2em;
    width: 400px;
    background-color: $main-color-light;
    border-radius: .5em;

    cursor: text;
}