$side-panel-background: $interface-background;

.panel {
    display: flex;
    flex-direction: column;
    gap: $interface-margin;

    transition: all .1s linear;
}

#first-panel {
    flex: 35%;
    margin: $interface-margin 0 $interface-margin $interface-margin;
}

#second-panel {
    flex: 35%;
    margin: $interface-margin 0;
}

#third-panel {
    flex: 30%;
    margin: $interface-margin $interface-margin $interface-margin 0;
}

.sub-panel {
    position: relative;
    border-radius: $border-radius;
    transition: all .1s linear;
    overflow: hidden;

    &.unselectable {
        user-select: none;
    }
}

#taxonomy {
    overflow: visible;
    max-height: calc(100% - 9rem);
    flex: 1;
    background-color: $main-color-dark;
}

#information {
    flex: 40%;
    color: $main-color-extralight;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.resizing {
        user-select: none;
    }
}

#cartography {
    flex: 60%;
    background-color: $main-color-light;
    overflow: visible;
}

#photography {
    flex: 40%;
    display: flex;
}

#statistics {
    flex: 60%;
    background-color: $main-color-dark;
}

#panel-container {
    flex-shrink: 0;
    background-color: $side-panel-background;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.panel-button-container {
    height: 2em;
    display: flex;
    margin: 0 20px;
    column-gap: 10px;
}

.panel-button {
    background-color: $interface-button;
    padding: 0 1em;
    border-radius: 4px;
    line-height: 2em;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.panel-resizer-container {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    z-index: 200;

    background-color: $main-color-light;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .5s ease-in-out;
    transform: scale(1, 1);
    overflow: hidden;

    &.collapse {
        transform: scale(0, 0);
    }
}

.panel-resizer {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: $main-color-dark;
    cursor: pointer;
}

.panel-information {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: $main-color-dark;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}