.photography-container {
    flex: 1;
    
    position: relative;
    height: 100%;
    width: 100%;

    background-color: $main-color-mediumlight;
    overflow: hidden;
    user-select: none;

    transition: all .2s ease-in-out;

    &::before {
        opacity: 0;
    }
    &.loading::before {
        content: '';
    }

    &.smooshed {
        flex: 0;
    }
}

.photography-mask {
    background-color: $main-color-dark;
}

.photo-mask {
    position: absolute;
    opacity: 1;
    background-color: $main-color-dark;
    
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .2s;
    &.loaded { opacity: 0; }
}

.photo {
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}

.photo-loader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: rotationcw 1.2s linear infinite;
}