.photography-container {
    flex: 1;
    
    position: relative;
    height: 100%;
    width: 100%;

    background-color: $main-color-mediumlight;
    overflow: hidden;
    user-select: none;

    transition: all .2s ease-in-out;

    &::before {
        opacity: 0;
    }
    &.loading::before {
        content: '';
    }

    &.smooshed {
        flex: 0;
    }
}

.photography-mask {
    background-color: $main-color-dark;
}