.photography-container {
    flex: 1;
    
    position: relative;
    height: 100%;
    width: 100%;

    background-color: $main-color-dark;
    overflow: hidden;
    user-select: none;

    transition: all .2s ease-in-out;

    &::before {
        opacity: 0;
    }
    &.loading::before {
        content: '';
    }

    &.smooshed {
        flex: 0;
    }

    & > a {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        background-color: $main-color-light;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        display: flex;
        transform-origin: 50% 100%;
        transform: translate(-50%) scale(0, 0);
        transition: transform .1s ease-in-out;
    }

    &:hover > a {
        transform: translate(-50%) scale(1, 1);
    }
}

.photography-license {
    color: $main-color-dark;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    margin: .2rem .1rem .2rem .4rem;
}

.photography-link {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: .2rem;
    & > svg {
        transform: translateZ(0);
        fill: $main-color-dark;
        height: inherit;
        width: inherit;
    }
}

.photography-mask {
    background-color: $main-color-dark;
}

.photo-mask {
    position: absolute;
    opacity: 1;
    background-color: $main-color-dark;
    
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .2s;
    &.loaded { opacity: 0; }
}

.photography-arrow {
    position: absolute;
    z-index: 101;

    top: calc(50% - 1rem);
}

.photography-arrow-left {
    left: .5rem;
}

.photography-arrow-right {
    right: .5rem;
}

.photo {
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}

.photo-loader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: rotationcw 1.2s linear infinite;
}

.photo-svg {
    height: inherit;
    width: inherit;

    & > svg {
        transform: translateZ(0);
        height: inherit;
        width: inherit;
        fill: $main-color-light;
    }
}