$taxonomy-panel-background: $side-panel-background;
$taxonomy-entry-background: $interface-foreground;

$taxonomy-font-dark: $font-color-dark;
$taxonomy-font-light: $font-color-light;

$taxonomy-margin: 2rem;

.taxonomy-mask {
    justify-content: end;
    align-items: start;
}

.taxonomy-loader {
    margin: 1rem;
}

.taxonomy-ancestry {
    height: 4rem;
    width: 100%;
}

.taxonomy-levels {
    height: calc(100% - (4rem + 2 * #{$taxonomy-margin}));
    margin: $taxonomy-margin calc(#{$taxonomy-margin} - 1rem);
    display: flex;
    flex-direction: column;

    transition: transform .2s ease-in-out;
}

.taxonomy-level-main {
    flex: 5;
}

.taxonomy-type {
    
}

.taxonomy-level {
    flex: 4;

    display: flex;
    align-items: center;
    color: $taxonomy-font-dark;

    border-radius: $border-radius;
    flex-direction: column;
    overflow: hidden;

    transition: all .2s ease-in-out;

    &.active {
        margin: $taxonomy-margin 0;
    }

    &.smooshed {
        flex: 0;
        margin: 0;
        min-height: 0;
        transition: all .2s ease-in-out;
    }

    &.collapse {
        transform: scale(0, 0);
        transition: all .2s ease-in-out;
    }
}

.taxonomy-type-container {
    height: 2.5rem;

    margin-bottom: 1rem;
    flex-shrink: 0;
    color: $taxonomy-font-light;

    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;

    transition: all .2s ease-in-out;
    transform-origin: 50% 50%;
    clip-path: polygon(100% 0, 100% calc(100% - 15px), 50% 100%, 0 calc(100% - 15px), 0 0);

    & > .taxonomy-type-label {
        height: 1rem;
        margin: .3rem;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }

    &.collapse {
        transform: scale(0, 0);
    }
}

.taxonomy-entry-container {
    display: flex;
    justify-content: center;
    height: calc(100% - 3.5rem);
    width: 100%;
}

.taxonomy-entry {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    aspect-ratio: 1/1;

    color: $taxonomy-font-dark;

    margin: 0 1rem;
    cursor: pointer;
    border-radius: $border-radius;
    font-size: 13px;
    pointer-events: all;
    overflow: hidden;

    outline-style: solid;
    outline-color: $taxonomy-entry-background;
    outline-width: 0;

    box-shadow: 0 0 3px $interface-shadows-dark;

    transform-origin: 50% 50%;
    transition: flex .1s linear, box-shadow .2s ease-in-out, transform .2s ease-in-out;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    &.smooshed {
        flex: 0;
        margin: 0;
        box-shadow: unset;
    }

    &.collapse {
        box-shadow: unset;
        transform: scale(0, 0);
    }

    &.placeholder {
        cursor: default;
        pointer-events: none;
        box-shadow: unset;
    }
}

.taxonomy-entry-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    
    opacity: 0;
    background: $taxonomy-panel-background;
    
    border-radius: $border-radius;
    transition: opacity .1s linear;

    pointer-events: none;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    &.inactive {
        opacity: .7;
    }
}

.taxonomy-image-container {
    position: relative;
    height: inherit;
    width: inherit;
    background-color: $main-color-mediumlight;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
    pointer-events: none;
    &::before {
        opacity: 0;
    }
    &.loading::before {
        content: '';
    }
}

.taxonomy-entry-label {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.4rem;

    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    background-color: $taxonomy-entry-background;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    pointer-events: none;
}

.taxonomy-entry-statistics {
    position: absolute;
    line-height: 25px;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    top: 0;
    left: 0;
    background-color: $taxonomy-entry-background;
    overflow: hidden;
    transition: all .2s ease-in-out;
}







// $taxonomy-panel-background: $side-panel-background;
// $taxonomy-entry-background: $interface-foreground;

// $taxonomy-font-dark: $font-color-dark;
// $taxonomy-font-light: $font-color-light;

// #taxonomy-container {
//     display: flex;
//     flex-direction: column;
//     margin: 20px;
//     width: 530px;
//     &.collapse {
//         & > .taxonomy-ancestry-container {
//             transform: translate(calc(-100% - 20px));
//         }
//         & > .taxonomy-levels-container {
//             transform: translate(calc(100% + 20px));
//         }
//     }
// }

// .taxonomy-ancestry-container {
//     display: flex;
//     justify-content: start;
//     flex-wrap: nowrap;
//     width: fit-content;
//     margin-bottom: 20px;
//     font-size: 13px;
//     height: 35px;
//     transition: transform .1s ease-out;

//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// .taxonomy-ancestry {
//     position: relative;
//     color: $taxonomy-font-light;
//     margin-right: -5px;
//     transition: all .1s linear;
//     transform: scale(1, 1);
//     &:first-child > .taxonomy-ancestry-label {
//         border-top-left-radius: 4px;
//         border-bottom-left-radius: 4px;
//         clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 0%);
//     }
//     &.small > .taxonomy-ancestry-label {
//         &:hover + .taxonomy-ancestry-tooltip {
//             transform: translate(-50%, 0) scale(1, 1);
//         }
//     }
// }

// .taxonomy-ancestry-label {
//     line-height: 35px;
//     height: 35px;
//     text-overflow: ellipsis;
//     text-wrap: nowrap;
//     clip-path: polygon(calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 10px 50%, 0% 0%);
//     cursor: pointer;
//     border-radius: 4px;
//     transition: transform .1s linear;
//     overflow: hidden;
//     text-align: center;
// }

// .taxonomy-ancestry-tooltip {
//     position: absolute;
//     top: -32px;
//     z-index: 2;
//     line-height: 20px;
//     height: 20px;
//     left: 50%;
//     transform: translate(-50%, 0) scale(0, 0);
//     white-space: nowrap;
//     padding: 5px 20px;
//     border-radius: 4px;
//     overflow: hidden;
//     transition: transform .1s linear;
// }



// .taxonomy-levels-main {
//     > .taxonomy-entry-container > .taxonomy-entry.active {
//         outline-width: 5px;
//         box-shadow: 0 0 3px 5px $interface-shadows-dark;
//     }
// }



