@font-face {
    font-family: 'Polsyh';
    src: url('../fonts/polsyh/polsyh.ttf') format("truetype");
}

@font-face {
    font-family: 'Cantarell OTF';
    src: url('../fonts/cantarell/cantarell.otf') format("opentype");
    font-style: normal;
}