$main-color: rgb(189, 189, 189);
$main-color1: #8e8e8e;
$main-color2: #ffcd54;

body {
    font-family: 'Cantarell';
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}