@import 'colors';
@import 'variables';
@import 'animation';
@import 'fonts';
@import 'interface/interface';

:root {
    font-family: 'Cantarell';
    color: $font-color-dark;
}

.no-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}