{% load static %}
{% load sass_tags %}

<!-- application styles -->
<link rel="stylesheet" type="text/css" href="{% sass_src 'explorer/css/style.scss' %}">

<!--Custom general scripts-->
<script type="text/javascript" src="{% static 'explorer/js/app/interface/dom.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'explorer/js/app/interface/ajax.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'explorer/js/app/cartography/map.js' %}" charset="utf-8"></script>

<!--Custom specific scripts-->

<!--Initialization-->
<script type="text/javascript" src="{% static 'explorer/js/app/initialization.js' %}" charset="utf-8"></script>