<!doctype html>
{% csrf_token %}
<head>
    {% load static %}
    {% load sass_tags %}

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'explorer/img/favicon-16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'explorer/img/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'explorer/img/favicon-48.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'explorer/img/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'explorer/img/favicon-144.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'explorer/img/favicon-192.png' %}">

    <!-- javascript libraries -->
    <script type="text/javascript" src="{% static 'explorer/js/libs/proj4/proj4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'explorer/js/libs/ol/ol.js' %}"></script>
    <script type="text/javascript" src="{% static 'explorer/js/libs/d3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'explorer/js/libs/d3/d3plus.min.js' %}"></script>

    <!-- application styles -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'explorer/css/style.scss' %}">

    <!--Initialization-->
    <script type="module" src="{% static 'explorer/js/app/initialization.js' %}" charset="utf-8"></script>

    <title>{{ fullname }}</title>
    <meta name="description" content="Navigate through the phylogenetic tree to learn more about the diversity of Life.">
</head>
<body></body>
</html>