<!doctype html>
<html>
{% csrf_token %}
<head>
    {% load static %}
    {% load sass_tags %}

    <link rel=icon href=favicon type=image/png>

     <!-- libraries styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'explorer/js/libs/ol/ol.css' %}">
    <!-- javascript libraries -->
    <script type="text/javascript" src="{% static 'explorer/js/libs/ol/ol.js' %}"></script>
    <script type="text/javascript" src="{% static 'explorer/js/libs/d3/d3.min.js' %}"></script>

    <!-- application styles -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'explorer/css/style.scss' %}">

    <!--Initialization-->
    <script type="module" src="{% static 'explorer/js/app/initialization.js' %}" charset="utf-8"></script>

    <title>{{ fullname }}</title>
</head>
<body></body>
</html>